 body {
	 width: 70%;
	 font-family: Helvetica, sans-serif;
	 margin: auto;
	 /* padding: 0;*/
	 background: #f0e4e4;
	 color: #000000;
	}


h1, h2, h3, h4 {
	 font-family: sans-serif;
	 margin-top: 1.5em;
	 margin-bottom: 1em;
 }

h1 {
	font-size: 32px;
}

figcaption {
	font-style: italic;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

figure {
	float: right;
}